{% extends "::layout.html.twig" %}
{% block title %} 
    Annonce - {{parent()}}
{% endblock %}

{% block body %}
    <h1>Annonce </h1>
    <hr>
    {% block ocplateform_bundle %}
        {% endblock %}
{% endblock %}   

 